@import '../../style/variables.scss';
@import '../../style/mixins.scss';

.spectator{
    @include flex-complete($direction: column, $justify: flex-start, $align: center);
    width:100%;
    position: absolute;
    transition-duration: 0.5s;
}

.spectator.showSpectator{
    position: absolute;
    left:0;
}

.spectator.showHost{
    left: -100%;
}