@import '../../style/variables.scss';
@import '../../style/mixins.scss';

.home{
    @include flex-complete($direction: column, $justify: flex-start, $align: center);
    min-height:100vh;
    max-width: 500px;
    margin: 0 auto;
    
}

.homeOptions{
    @include flex-complete($direction: row, $justify: space-around, $align: stretch);
    
    width:100%;
    cursor: pointer;

    div{
        padding: 16px;
        font-weight: bold;
        color: white;
        width:50%;
        text-align: center;
        height:50px;
        margin-bottom: 4px;
    }
}

.specOption{
    background-color: $main;
    border-radius: 0 0 0 4px;
}

.hostOption{
    background-color: $secondary;
    border-radius: 0 0 4px 0;
}

.main{
    width: 100%;
}

.loading{
    @include flex-complete($direction: column, $justify: center, $align: center);
    width: 100%;
    img{
        margin: 0 auto;
        width: 50%;
    }
}

