@import '../../style/variables.scss';
@import '../../style/mixins.scss';

.addEvent{
    @include flex-complete($direction: column, $justify: flex-start, $align: center);

    button{
        @include flex-complete($direction: row, $justify: center, $align: center);
        border: solid 4px $secondary;
        width:97.5%;
        height: 50px;
        background-color: white;
        margin: 4px;
        border-radius: 25px;
    }

    form{
        @include flex-complete($direction: column, $justify: flex-start, $align: flex-start);
        width:90%;

        input{
            padding: 8px;
            margin: 4px;
            border: solid 2px $secondary;
            border-radius: 4px;
            height: 40px;
            width: 300px;
        }

        button{
            width:150px;
            background-color: $secondary;
            color:white;
            font-weight: bold;
            align-self: flex-end;
            margin-top:20px;
        }

        div{

            input{
                width: 200px;                
            }

            select{
                height: 40px;
                width:100px;
                margin: 4px;
                padding: 8px;
                border: solid 2px $secondary;
                border-radius: 4px;
            }
    
            label{
                padding:4px;
                color:$secondary;
            }

        }
    }

}


.doubleBlock{
    @include flex-complete($direction: row, $justify: space-evenly, $align: flex-start); 
}

.participantBox{
    @include flex-complete($direction: column, $justify: flex-start, $align: flex-start);
    
    div{
        @include flex-complete($direction: row, $justify: flex-start, $align: flex-start);
        
    }
}

.displayNames{
    width: 100%;
}

.add{
    padding: 8px;
    margin: 4px;
    border: solid $secondary;
    background-color: lightgrey;
    border-radius: 4px;
}

.personItem{
    margin: 4px;
    padding: 4px;
}

.formError{
    color: red;
}

.noShow{
    height:0;
    overflow:hidden;
    transition: height transform 1s ease-out;
    
}

.show{
    height: auto;
    transition: height transform 1s ease-out;
}