@import '../../style/variables.scss';
@import '../../style/mixins.scss';

.eventCard{
    @include flex-complete($direction: column, $justify: flex-start, $align: flex-start);

    width: 95%;
    background-color: $secondary;
    margin: 4px;
    border-radius: 8px;
    color: white;

    div.title{
        @include flex-complete($direction: row, $justify: space-between, $align: center);
        width: 100%;


        div h3{
            padding: 8px;
        }

        div span{
            margin-left: 16px;
        }

        div{
            padding:8px;
        }
    }

    div.participants{
        width: 95%;
    }

    button{
        padding: 4px;
        border: none;
        border-radius: 4px;
        font-weight: bold;
        align-self: flex-end;
        margin: 4px;
        margin-top: 16px;
        color:white;
        background-color: darkslategray;
    }

    button.eventDelete{
        background-color: red;
    }
}

.noShow{
    display:none;
}