@import '../../style/variables.scss';
@import '../../style/mixins.scss';

.footer{
    @include flex-complete($direction: row, $justify: center, $align: center);
    padding: 12px;
    background-color: greenyellow;
    height:3rem;
    margin: 0 auto;
    margin-top: 90vh;
    border-radius: 4px;
    width: 95%;

    @media only screen and (min-width: 500px){
        width: 500px;
    }

    //position: absolute;
    //top:100%;
    
    button{
        padding: 8px;
        border:none;
        background-color: goldenrod;
        border-radius: 4px;
    }
}