@import '../../style/variables.scss';
@import '../../style/mixins.scss';

.search{
    @include flex-complete($direction: row, $justify: space-around, $align: center);
    //background-color: $main;
    width: 100%;
    padding: 4px;
    max-width: 500px;

    select, button, input{
        margin: 4px;
        padding: 4px;
    }

    .noView{
        visibility: hidden;
    }
}